<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/scripts/script.js"></script>
    <title>Home</title>
</head>
<body class="body">

    
    <h1>Upload your resume here!</h1>

    <form method='POST' enctype='multipart/form-data' id="upload-form">
        {{ form.hidden_tag() }}
        {{ form.file() }}
        {{ form.submit(id="submit-btn")}}
    </form>
    
    <br>
    
    {% if form.form_submitted.data %}
        <h1>Data from Python</h1>
        {% if goodjob %}
            <audio controls> <source src="../static/gods.mp3" type="audio/mpeg"></audio>
        {% else %}
            <p>Something went wrong.</p>
        {% endif %}
    {% endif %}

    <audio controls> <source src="../static/omg.mp3" type="audio/mpeg"></audio>
    
    
</body>

</html>