<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Home</title>
    
</head>
<body class="body">
    

    <div id="resume-reader">
        <h1>Upload your resume here!</h1>

        <form method='POST' enctype='multipart/form-data' id="upload-form">
            {{ form.hidden_tag() }}
            {{ form.file() }}
            {{ form.submit(id="submit-btn")}}
        </form>
    </div>
    
    
    <br>
    
    {% if form.form_submitted.data %}
    
        {% if passed %}
            <script>
               function resumePassed() {
                    // Create a new div element
                    var disappearingDiv = document.createElement('div');
                    disappearingDiv.className = "disappearing-image";

                    // Create an image element and set its attributes
                    var disappearingImage = document.createElement('img');
                    disappearingImage.src = "../static/media/joboffer.png";
                    disappearingImage.alt = "Flying Image";

                    // Create an audio element and set its attributes
                    var disappearingAudio = document.createElement('audio');
                    var audioSource = document.createElement('source');
                    audioSource.src = "../static/media/gods.mp3";
                    audioSource.type = "audio/mpeg";
                    disappearingAudio.appendChild(audioSource);
                    disappearingAudio.loop = true;

                    // Append the image and audio elements to the div
                    disappearingDiv.appendChild(disappearingImage);
                    disappearingDiv.appendChild(disappearingAudio);

                    // Append the div to the body or any other element you want
                    document.body.appendChild(disappearingDiv);

                    disappearingAudio.play();
                }
            </script>
           
        {% else %}
        <script>
            function resumeFailed() {
                // Create a new div element
                var flyingDiv = document.createElement('div');
                flyingDiv.className = "flying-image";

                // Create an image element and set its attributes
                var flyingImage = document.createElement('img');
                flyingImage.src = "../static/media/imposter.jpg";
                flyingImage.alt = "Flying Image";

                // Create an audio element and set its attributes
                var flyingAudio = document.createElement('audio');
                var audioSource = document.createElement('source');
                audioSource.src = "../static/media/eta.mp3";
                audioSource.type = "audio/mpeg";
                flyingAudio.appendChild(audioSource);
                flyingAudio.loop = true;

                // Append the image and audio elements to the div
                flyingDiv.appendChild(flyingImage);
                flyingDiv.appendChild(flyingAudio);


                // Append the div to the body or any other element you want
                document.body.appendChild(flyingDiv);

                // Play the audio automatically
                flyingAudio.play();
            }
            resumeFailed()
         </script>
        {% endif %}
        
    {% endif %}
    
    
</body>

</html>