<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="{{ url_for('static', filename='../scripts/script.js') }}"></script>
    <script>
        // var passed = {{ passed|tojson }};
    </script>
    <title>Home</title>
</head>
<body class="body">

    
    <h1>Upload your resume here!</h1>

    <form method='POST' enctype='multipart/form-data' id="upload-form">
        {{ form.hidden_tag() }}
        {{ form.file() }}
        {{ form.submit(id="submit-btn")}}
    </form>
    
    <br>
    
    {% if form.form_submitted.data %}
        {% if passed %}
            <div class="disappearing-image">
                <img src="../static/joboffer.png" alt="Flying Image">
                <audio controls> <source src="../static/gods.mp3" type="audio/mpeg"></audio>
            </div>
            <!-- <div class="popup">
                <label for="popup-toggle" class="overlay"></label>
                <div class="popup-content">
                    <audio controls> <source src="../static/gods.mp3" type="audio/mpeg"></audio>
                    <p>Good job! Your message here...</p>
                </div>
            </div> -->
        {% else %}
            <div class="flying-image">
                <img src="../static/imposter.jpg" alt="Flying Image">
                
                <audio controls> <source src="../static/eta.mp3" type="audio/mpeg"></audio>
            </div>
        {% endif %}
    {% endif %}

    <audio controls> <source src="../static/omg.mp3" type="audio/mpeg"></audio>
    
    
</body>

</html>