.head {
    background-color: lightblue;
}

.body {
    background-image: url("../static/media/newjeans.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    /* position: absolute;
    width: 50%;
    padding: 100px;
    top: 30%;
    left: 35%; */
}

h1 {
    color: yellow;
    font-family: Papyrus;
}


.flying-image {
  position: absolute;
  animation: flyAnimation 5s linear infinite, spinAnimation 5s linear infinite;;
}


.flying-image img {
  width: 50%;
  height: auto;
}

@keyframes flyAnimation {
  0% {
      left: 0;
  }
  100% {
      left: calc(100% - 100px); /* Adjust the width of the flying image */
  }
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disappearing-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disappearing-image img {
  transform: scale(0.5);
  transition: opacity 0.5s ease; /* Add a smooth transition effect */
  z-index: 100;
}

.disappearing-image:hover img {
  opacity: 0; /* Set opacity to 0 when hovering */
}

audio {
  display: block; /* Ensure the audio controls are on a new line */
}