.head {
    background-color: lightblue;
}

.body {
    background-image: url("newjeans.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
    position: absolute;
    width: 50%;
    padding: 100px;
    top: 30%;
    left: 30%;
}